:root{/* criando variaveis para as cores do projeto */
    --primary-color: #EBDEC4;
    --secundary-color: #F2B7EB;
    --qertiary-color: #C0C954;
    --quaternary-color:#FB5908;
}

body{
    background-color: tomato;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}
.suas{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.asterisco{
    margin: 30px 8.76px 0px 55px;
    width: 42px
}
.su{
    margin: 40.64px 8.76px 0px 0px;
    text-align: center;
    font-size: 18px;
}
.info{
    margin: 33px 8.76px 0px 0px;
    font-family: "Jomolhari", serif;

}
.linguagem{
    display:flex;
    justify-content: space-between;
    text-align: center;    
}
.word{
    margin: 39px 11px 0px 0px;
    width: 26px;
    height: 26px;
}
.lin{
    margin: 39px 11px 4px 0px;
    text-align: center;
    font-size: 18px;
}

.login{
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.logButton{
    width: 239.32px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin: 25px 8px 0px 0px;
}
.log{
    margin: 37px 10px 0px 0px;
    font-size: 18px;
    color: black;
    text-align: end;
}

.Titulo-Principal{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 129px 339px 24px 328px;
    font-size: 27px; /*o correto seria 45, apenas para teste de tela*/
}

.ConteinerRegister{
    display: flex;
    gap: 10px;
    justify-content: center;
}   

.Register{
    width: 380px;
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    gap: 30px;
}

.EmailButtom{
    width: 150px;
    height: 65px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 20px;
  
}






