:root{/* criando variaveis para as cores do projeto */
    --primary-color: #EBDEC4;
    --secundary-color: #F2B7EB;
    --qertiary-color: #C0C954;
    --quaternary-color:#FB5908;
}

body{
    background-color: #EBDEC4;
    height: 100vh;
    

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}
.suas{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.asterisco{
    margin: 30px 8.76px 0px 55px;
    width: 42px;
    
}
.su{
    margin: 40.64px 8.76px 0px 0px;
    text-align: center;
    font-size: 18px;
}
.info{
    margin: 33px 8.76px 0px 0px;
    font-family: "Jomolhari", serif;

}
.linguagem{
    display:flex;
    justify-content: space-between;
    text-align: center;    
}
.word{
    margin: 39px 11px 0px 0px;
    width: 26px;
    height: 26px;
}
.lin{
    margin: 39px 11px 4px 0px;
    text-align: center;
    font-size: 18px;
}

.login{
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.logButton{
    width: 239.32px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin: 25px 8px 0px 0px;
}
.log{
    margin: 37px 10px 0px 0px;
    font-size: 18px;
    color: black;
    text-align: end;
}

.Titulo-Principal{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 129px 339px 24px 328px;
    font-size: 27px; /*o correto seria 45, apenas para teste de tela*/
}

.ConteinerRegister{
    display: flex;
    gap: 10px;
    justify-content: center;
}   

.Register{
    width: 380px;
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    gap: 30px;
}

.EmailButtom{
    width: 150px;
    height: 65px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 20px; 
}
.centro{
    display: flex;
    height: 62%;
    
}
.Container1{
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 147px;
    gap:100px
}
.circulo-verde{
    border-radius: 100%;
    background-color: #C0C954;
    width: 120px;
    height: 120px;
    margin: 0px 0px 0px 93px;
}
.homem{
    width: 120px;
    height: 120px;
}
.organico{
    width: 299px;
    height: 81px;
    background-color: white;
    display: flex;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
    color: black;
    border-style: groove;
    gap: 10px;
}
.textoOrganico{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}
.tempo{
    font-size: 10px;
}
.roxo{
    margin: 0px 0px 0px 20px ;

}
.noventa-e-dois{
    margin: 0px 0px 0px 89px;
    width: 152px;
    height: 174px;
    background-color: #F2B7EB;
    display: flex;   
    flex-direction: column;
    align-items:start;
    border-radius: 10px;
    color: black;
    font-size: 18px;

}
.a92{
    margin: 20px 0px 0px 0px ;
    font-size: 45px;
}
.Container2{
    display: flex;
    align-items: end;
    width: 900px;
}
.celular{
    display: flex;


}
.Container3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.mil-e-quatrocentos{
    width: 152px;
    height: 174px;
    background-color: #F2B7EB;
    display: flex;   
    flex-direction: column;
    align-items:start;
    border-radius: 10px;
    color: black;
    font-size: 18px; 
    margin: 200px 0px 0px 0px;
}
.roxo2{ 
    margin: 0px 0px 0px 20px ;
    

}
.a14{
    margin: 20px 0px 0px 0px ;
    font-size: 45px;
}


/* TABLET */
@media (max-width: 768px){
    body{
        padding: 30px;
    }
    header{
        display: flex;
        justify-content: space-between;
    }

    .suas{
        display: flex;
    }
    .asterisco{
        width: 20px;
        height: 16px;
        margin: 40px 8.76px 0px 55px;

    }
    .su{
        text-align: center;
        font-size: 12px;
    }
    .info{
        font-family: "Jomolhari", serif;
        

    }
    .linguagem{

        display: none;
    }
    .logButton{
        width: 137.86px;
        height: 30px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        font-size: 10px;
        margin: 30px 0px 0px 0px;
    }

    .Titulo-Principal{
        display: flex;
        width: 588px;
        height: 128px;
        font-size: 18px;
        margin: 76px 106px 0px 74px;
    }
    .Register{
        margin-bottom: 51px;
    }

    .Container1{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        margin: 0px 0px 0px 0px;
        width: 900px;
        height: 300px;
        
    }
    .circulo-verde{
        display: none;        
    }
    .organico{
        display: none;

    }
    .noventa-e-dois{
        margin: 0px 0px 0px 0px;
        margin: 0px 0px 0px 30px;

    }

    .celular{
        width: 800px;
        position: absolute;
        left: 0;
        bottom: 0;

    }
    .Container3{
        width: 900px;
        height: 300px;
    }
    .mil-e-quatrocentos{
        margin: 0px 0px 0px 0px;
}

    .calendario{
        display: none;
    }

   









}






